<div flex class="" layout="column" layout-align="start stretch" layout-margin layout-padding style="background-color:white;">

    <!--Banner saction-->
    <div class="" flex="none" style="background-color:red">
        <h1>Banner</h1>
    </div>
    <!--Inner content-->

    <div flex class="" layout="row" style="background-color:yellow" layout-margin layout-padding >
        <!--Side pane-->
        <div class="" flex="20" style="background-color:blue">
            Side pane

        </div>
        <!--Main Content-->
        <div class="" flex style="background-color:purple">
            Main content

            <ui-view></ui-view>
        </div>
    </div>
    <!--Footer saction-->
    <div class="" flex="nogrow" style="background-color:green">
        <h1>Footer</h1>
    </div>

</div>