<div flex class="" layout="column" layout-align="start stretch" layout-margin layout-padding>

    <!--Banner saction-->
    <div class="" flex="none" >
        <h1>Banner</h1>
    </div>
    <!--Inner content-->

    <div flex class="" layout="row"  layout-margin layout-padding >
        <!--Side pane-->
        <div class="" flex="20">
            Side pane

        </div>
        <!--Main Content-->
        <div class="" flex>
            Main content

            <ui-view></ui-view>
        </div>
    </div>
    <!--Footer saction-->
    <div class="" flex="nogrow">
        <h1>Footer</h1>
    </div>

</div>