<footer class="md-whiteframe-14dp" layout-padding layout="row" layout-align="space-between center" flex="none" md-colors="{{ThemeColor.FooterColor}}">
    <div flex="66" layout="row" layout-align="center">
        <md-list>
            <md-list-item ng-repeat="contact in layCtrl.User.contactInfos">
                <a href="{{contact.info}}">
                    <md-icon md-colors="{{ThemeColor.FooterIconColor}}">
                        {{contact.icon}}
                    </md-icon>
                </a>
                <div class="md-list-item-text">
                    <md-button href="{{contact.info}}">{{contact.display}}</md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div flex="33">
        <div class="" layout="row" layout-margin>
            <a href="{{social.url}}" target="_blank" ng-repeat="social in layCtrl.User.socialLinks">
                <md-icon md-colors="{{ThemeColor.FooterIconColor}}">
                    <ng-md-icon icon="{{social.logo}}" size="28"></ng-md-icon>
                </md-icon>
            </a>
        </div>
    </div>

</footer>