<!--Banner saction-->
<header layout="column" md-colors="{{ThemeColor.HeaderColor}}" flex="none">
    <div layout="row" flex layout-padding>
        <div>
            <img src="{{layCtrl.User.avatar}}" alt="" class="user-avatar">
        </div>
        <div layout="column" layout-align="center center" flex>
            <h1>{{layCtrl.User.name}}</h1>
        </div>
    </div>
    <!--Navigation-->
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="Navigation Menu" class="md-whiteframe-8dp" md-colors="{'background': 'grey-100'}">
        <md-nav-item md-nav-sref="{{item.url}}" name="{{item.id}}" aria-label="{{item.ariaLabel}}" ng-repeat="item in NavMenuList">{{item.name}}</md-nav-item>
    </md-nav-bar>
</header>